@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Business 2</title>
    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/Snackbar.css" rel="stylesheet" />
    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    @*<link href="../css/custom.css" rel="stylesheet">
        <link href="../css/css.css" rel="stylesheet">*@
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Custom Fonts from Google -->
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>-->
    <style>
        html {
            overflow-y: hidden;
        }

        .table1 {
            background: url("../../images/ES2.jpg") no-repeat;
            background-size: 1500px 1000px;
            width: 100%;
            height: 100%;
        }

        audio {
            width: 600px;
        }

        .button1 {
            background-color: #f1948a; /* Green */
            border: none;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            cursor: pointer;
            width: auto;
        }

        .button1 {
            background-color: #85c1e9;
            color: white;
            border: 2px solid #85c1e9;
        }

            .button1:hover {
                background-color: #2980b9;
                color: white;
            }

        a:link {
            text-decoration: none;
            color: white;
        }

        a:visited {
            text-decoration: none;
            color: white;
        }
    </style>
</head>
<body>
    <table border="0" class="table table1">
        <tr>
            <td>
                <h3 style="font-size: 60px"> The Final Time Traveler </h3>
                <h1 style="font-size: 20px"> Sarah Àlainn </h1>
            </td>
        </tr>
        <tr>
            <td height="300px">
                <br /><br /><br /><br /><br /><br />
                <br /><br /><br /><br /><br /><br />
            </td>
        </tr>
        <tr>
            <td style="padding-left: 50px">
                <audio controls preload="auto">
                    <source src="~/audio/The Final Time Traveler _ Sarah Àlainn.mp3" />
                </audio>
            </td>
        </tr>
        <tr>
            <td height="100px" align="left" style="padding-left: 50px">
                <button class="button button1"><a href="https://www.facebook.com/sharer/sharer.php?u=example.org" target="_blank"> Share on Facebook </a></button>
            </td>
        </tr>
    </table>
</body>
</html>



